image==1.5.33
imutils==0.5.4
mss==2.0.22
numpy==1.21.1
opencv-python==4.5.3.56
psutil==5.8.0
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.6.8
PyRect==0.1.4
PyScreeze==0.1.27
pytesseract==0.3.8
requests==2.26.0
